* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex';
}

@font-face {
    font-family: 'IBM Plex';
    src: url(fonts/Ibmplexsans.ttf);
}

ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgba(6, 18, 36, 0.9);
}

body {
    width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slayder {
    width: 1440px;
    height: 676px;
    background-image: url(img/slayder1.png);
}

.topMenu {
    position: absolute;
    left: 103px;
    top: 36px;
    width: 1337px;
    height: 46px;
    display: flex;
}

.topMenu .logo {
    width: 130.22px;
    height: 40px;
}

.topMenu ul {
    width: 494px;
    display: flex;
    justify-content: space-between;
    margin-left: 182.78px;
}

.topMenu ul li {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: rgba(6, 18, 36, 0.9);
}
.navbar{
    list-style-type: none; 
    display: flex;
    align-items: center;
    height: 46px;
}
.navbar li{
    height: 46px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;        
}
.navbar li:hover{
    cursor: pointer;
}
.navbar li ul{
    visibility: hidden;
    background-color: #adcff763;
    padding: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute; 
    margin-left: 0px;
    margin-top: 92px;
    opacity: 0;
}  
.navbar li ul li{
    height: 25px;
    text-align: left; 
    padding: 0;
           
}
.navbar li ul li:hover{
    background-color: #adcff763;
}
.navbar li ul li a{
    padding-left: 10px;
}
.navbar li:hover >ul{
    visibility: visible;
    opacity: 1;
}    
.topMenu .btnEntry {
    margin-left: 32px;
    width: 110px;
    height: 40px;
    border: 1.5px solid #1064E5;
    background-color: rgba(28, 28, 28, 0);
    box-sizing: border-box;
    border-radius: 43px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: rgba(6, 18, 36, 0.9);
}
.topMenu .btnExit {
    margin-right: 0px;
    width: 110px;
    height: 40px;
    border: 1.5px solid #1064E5;
    background-color: rgba(28, 28, 28, 0);
    box-sizing: border-box;
    border-radius: 43px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: rgba(6, 18, 36, 0.9);
}

.topMenu .btnRegistration {
    margin-left: 24px;
    width: 189px;
    height: 40px;
    background: #1064E5;
    border-radius: 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.slayder h1 {
    margin-top: 190px;
    margin-left: 105px;
    width: 586px;
    height: 95px;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    color: rgba(6, 18, 36, 0.9);
}
.slayder .btnEntry{    
    width: 110px;
    height: 40px;
    border: 1.5px solid #1064E5;
    background-color: rgba(28, 28, 28, 0);
    box-sizing: border-box;
    border-radius: 43px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: rgba(6, 18, 36, 0.9);
    position: relative;
    left: 1330px;
}
.slayder ul {
    margin-left: 105px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 133px;
    height: 31px;
    justify-content: space-between;
}
.slayder ul .one {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: rgba(6, 18, 36, 0.9);
}
.slayder ul span {
    width: 16px;
    height: 0px;
    background-color: #1064E5;
    border: 1.5px solid #1064E5;
    box-sizing: border-box;
    transform: rotate(180deg);
}
.slayder h3 {
    margin-top: 14px;
    margin-left: 105px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.slayder h4 {
    margin-top: 14px;
    margin-left: 105px;
    width: 454px;
    height: 63px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: rgba(6, 18, 36, 0.9);
}
.slayder .tryFree {
    margin-top: 31px;
    margin-left: 105px;
    width: 295px;
    height: 56px;
    background: #1064E5;
    border-radius: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.properties {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comfort {
    width: 1440px;
    height: 940px;
    background: #D8F1F0;
    display: flex;
    flex-direction: column;
}
.comfort .text {
    display: flex;
    flex-direction: column;
}
.comfort h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: rgba(6, 18, 36, 0.9);
}
.comfort1 {
    margin-top: 57px;
    margin-left: 104px;
}
.comfort1 ul {
    margin-top: 18px;
    width: 530px;
    height: 254px;
}
.comfort ul li::before {
    content: "-";
    position: relative;
    left: -5px;
}
.comfort ul li {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(6, 18, 36, 0.9);
}
.comfort1 {
    display: flex;
}
.comfort1 img {
    margin-top: 28px;
    margin-left: 107px;
}
/* переход на вопросы */
.comfort1 button {
    width: 217px;
    height: 56px;
    margin-top: 19px;
    border: 1.5px solid #1064E5;
    background-color: rgba(28, 28, 28, 0);
    box-sizing: border-box;
    border-radius: 46px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: rgba(6, 18, 36, 0.9);
}
.comfort2 {
    display: flex;
    margin-top: 57px;
    margin-left: 106px;
}
.comfort2 .text {
    margin-left: 134px;
    width: 533px;
}
.comfort2 ul {
    margin-top: 18px;
}
/* Переход на регистрацию */
.comfort2 button {
    margin-top: 38px;
    width: 217px;
    height: 56px;
    background: #1064E5;
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
.signature {
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signature h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.packets {
    margin-top: 63px;
    display: flex;
    width: 1124px;
    justify-content: space-between;
}
.packet {
    width: 256px;
    height: 320px;
    background: #DEEEFC;
    border-radius: 4px;
}
.packet h2 {
    margin-top: 32px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: rgba(6, 18, 36, 0.9);
}
.packet p {
    margin-top: 44px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 18, 36, 0.9);
}
.packet h3 {
    margin-left: 32px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(6, 18, 36, 0.9);
}
.packet span {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: rgba(6, 18, 36, 0.9);
}
.packet button {
    margin-left: 32px;
    margin-top: 50px;
    width: 192px;
    height: 40px;
    background: #1064E5;
    border-radius: 100px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #EBF5F6;
    border: 0;
    cursor: pointer;
}
.documents {
    margin-top: 98px;
    width: 100%;
    height: 310px;
    background: #D8F1F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.documents h1 {
    margin-top: 43px;
    font-weight: 600;
    font-size: 73px;
    line-height: 48px;
    color: rgba(6, 18, 36, 0.9);
}
.documents h2 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: rgba(6, 18, 36, 0.9);
}
.documents h3 {
    width: 478px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.interesting {
    width: 100%;
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interesting h2 {
    margin-top: 38px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.interestingBlock {
    width: 1230px;
    height: 494px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.interestingBlock .interestingImg p {
    margin-top: 14px;
    margin-left: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(6, 18, 36, 0.9);
}
.interestingBlock .interestingImg h3 {
    margin-top: 6px;
    margin-left: 14px;
    width: 257px;
    height: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: rgba(6, 18, 36, 0.9);
}
.answers {
    width: 100%;
    height: 451px;
    background: #DEEEFC;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.answers h1 {
    margin-top: 26px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.answers ul {
    margin-top: 36px;
    width: 527px;
}
.answers ul li::before {
    content: "+ ";
}
.answers ul li {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(6, 18, 36, 0.9);
}
.subscription {
    width: 100%;
    height: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.subscription h1 {
    margin-top: 58px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.subscription p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
.subscription form {
    margin-top: 30px;
}
.subscription form input {
    width: 399px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #1064E5;
    box-sizing: border-box;
    border-radius: 37px;
}
.subscription form button {
    margin-left: 18px;
    width: 178px;
    height: 50px;
    background: #1064E5;
    border-radius: 41px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 288px;
    display: flex;
    background: #061224;
}
.logo_footer {
    margin-left: 103px;
    margin-top: 64px;
}
.logo_footer p {
    margin-top: 104px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
footer a{
    color: #FFFFFF;
}
footer .aboutUsFooter {
    margin-left: 158px;
    margin-top: 64px;
}
footer ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
footer p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
footer .aboutUsFooter .exit {
    margin-top: 32px;
}

footer .Blog {
    margin-left: 47px;
    margin-top: 64px;
}
footer .info {
    margin-left: 244px;
    margin-top: 64px;
}
footer .adress {
    margin-left: 100px;
    margin-top: 64px;
}
footer .adress ul li {
    margin-bottom: 6px;
    opacity: 0.8;
}
/* Хлебные крошки */

ul.breadcrumb {
    width: 100%;
    margin-top: 130px;
    margin-left: 203px;
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-weight: 500;
    font-size: 14px;
    color: #061224;
    opacity: 0.6;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #061224;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    text-decoration: underline;
}
/* Страница "Про нас" */

.aboutUs{
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutUs h1{
    margin-left: 103px;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #061224;
}
.aboutUs img{    
    margin-bottom: 24px;
    margin-top: 24px;
}
.aboutUs p{
    width: 1232px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(6, 18, 36, 0.9);
}
/* Страница "Контакты" */
.contacts h1{
    margin-right: 950px;
    margin-top: 23px;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    color: rgba(6, 18, 36, 0.9);
}
.ourContacts{
    width: 1234px;
    height: 249px;
    display: flex;
    margin-top: 27px;
}
.adressContacts{
    width: 493px;
}
.adressContacts p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(6, 18, 36, 0.9);
}
.phone{
    margin-top: 12px;
    display: flex;
}
.map{
    margin-left: 136px;
}
.form{
    margin-bottom: 46px;
}
.contactText{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(6, 18, 36, 0.9);
}
.contactPole{
    width: 420px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(6, 18, 36, 0.9);
    box-sizing: border-box;
    border-radius: 48px;
}
.contactTextArea{
    width: 420px;
    height: 138px;
    background: #FFFFFF;
    border: 1px solid rgba(6, 18, 36, 0.9);
    box-sizing: border-box;
    border-radius: 8px;
}
.contactBtn{
    width: 217px;
    height: 50px;
    background: #1064E5;
    border: none;
    border-radius: 45px;
    opacity: 0.6;
    cursor: pointer;
}
.FAQ h1{
    margin-top: 24px;
    margin-left: 103px;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    color: #061224;
    opacity: 0.9;
}
.FAQ h3{
    margin-top: 40px;
    margin-left: 103px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #061224;
}
.FAQ ul{
    margin-top: 24px;
    margin-left: 103px;
}
.FAQ ul li{
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(6, 18, 36, 0.9);
}
.FAQ ul li::before {
    content: "+ ";
}
.formFAQ{
    width: 1440px;
    height: 590px;
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    background: #D8F1F0;
    align-items: center;
}
#formEntry{
    width: 1440px;
    height: 1024px;
    background: rgba(6, 18, 36, 0.7);
    backdrop-filter: blur(15px);
    position: fixed;
    display: none;
    z-index: 100;
}
#formReg {
    width: 1440px;
    height: 1024px;
    background: rgba(6, 18, 36, 0.7);
    backdrop-filter: blur(15px);
    position: fixed;
    display: none;
    z-index: 100;
 }
.formRegInput{
    width: 550px;
    height: 400px;  
    position: relative;
    left: 450px;
    top: 250px; 
    border: solid 1px #DEEEFC ;
    background: #DEEEFC;
    text-align: center;
}
.formRegInput button{
    width: 20px;
    height: 20px;
    position: relative;
    left:266px;
    top: -2px;
}
.formRegInput h1{
    margin-top: 15px;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
}
.formRegInput h3{
    margin-top: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(6, 18, 36, 0.9);
}
.formRegInput .contactBtn{
    color: white;
}
#getSub{
    top: 300px;
    width: 100%;
    height: 150px;
    background-color: white;
    display: none;
    position: fixed;
    text-align: center;
}
#getSub h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: rgba(6, 18, 36, 0.9);
}
#getSub h3{
    width: 505px;
    height: 70px;
    position: relative;
    left: 430px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: rgba(6, 18, 36, 0.9);
}
.closeGetSub{
    width: 20px;
    height: 20px;
    position: relative;
    left:710px;
    background-color: #deeefc;
}
.blogH2 h2{
    margin-right: 900px;
    margin-top:24px;
}
.blockBlog{
    margin-top: 24px;    
    width: 1232px;
    height: 422px;
    display: flex;
}
.blockBlogText{
    margin-left: 43px;
    display: flex;
    flex-direction: column;    
}
.blockBlogText h1{
    width: 376px;
    height: 79px;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    color: rgba(6, 18, 36, 0.9);
}
.blockBlogText p{
    margin-top: 58px;
    width: 458px;
    height: 210px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(6, 18, 36, 0.9);
}
.blockCart{
    margin-top: 24px;
    width: 1232px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogH1{
margin-right: 1189px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.19em;
text-transform: uppercase;
}
.cartBlog{
    width: 370px;
    height: 540px;
    margin-bottom: 64px;
    overflow: hidden;
}
.showCartBlog{
    width: 1238px;
}
.showCartBlog img{
    width: 570px;
}
.column{
    -webkit-column-width: 586px;
    -moz-column-width: 586px;
    column-width: 586px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 65px;
    -moz-column-gap: 65px;
    column-gap: 65px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.SEO{
    width: 1228px;   
    height: 230px;
    overflow: hidden; 
}
.SeoButton{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.SeoButton h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #1064E5;
}
.SeoButton img{
    width: 12px;
    height: 12px;
    transform: rotate(0deg);
}
